.btn
	span,em
		transition: .4s all  ease-in-out
	&.btn-primary
		@apply rounded-full   min-h-[44px]  border border-primary-1 bg-primary-1
		height: r(49px)
		&:hover
			@apply bg-white
			span
				@apply text-primary-1
			
		span
			@apply text-xl  font-bold uppercase relative z-20 text-white px-7 whitespace-nowrap
		
		&.down
			&:hover
				em,i
					animation:  t-t-b 0.4s forwards
			em,i
				animation:  b-t-t 0.4s forwards
		&.white
			&:before
				@apply bg-white
				background-image: none
			span
				@apply text-gradient-1
			em,i
				@apply text-white bg-gradient-primary
			&:hover
				span
					background-image: -webkit-linear-gradient(0deg, #fff 0%, #fff 85.28%)
				em,i
					@apply text-primary-3  bg-white 
					background-image: -webkit-linear-gradient(0deg, #fff 0%, #fff 85.28%)
	&.btn-arrow
		@apply   rounded-full   flex-center border-primary-1 border
		height: 46px
		width: 46px
		min-width: 46px
		&:hover
			box-shadow: 0px 0px 0px 1px rgba(0,0,172,1)
			em,i
				animation: l-t-r 0.4s forwards
		em,i
			@apply  text-14  font-normal text-primary-1
			animation: r-t-l 0.4s forwards
	&.btn-default
		@apply  px-6 rounded-full bg-white
		height: 40px
		transition: .3s all  ease-in-out
		span
			transition: .3s all  ease-in-out
			@apply  font-semibold relative z-20 text-primary-2 h-full flex items-center text-18
		em,i
			@apply text-18 text-primary-2 font-normal  ml-2
		&:hover
			@apply bg-primary-2
			span,em,i
				@apply text-white
		&.blue
			@apply bg-primary-1
			span,em,i
				@apply text-white
			&:hover
				box-shadow: 0px 4px 12px 0px #FF9123 inset
				@apply bg-primary-2
	&.btn-secondary
		@apply border px-6 rounded-full border-primary-1 py-2
		height: 40px
		&::after
			content: ''
			@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-0 h-full bg-primary-1
		&:hover
			&::after
				@apply w-full
			span,em,i
				@apply text-white
			em,i
				animation: l-t-r 0.4s forwards
		span
			@apply text-18  font-semibold relative z-20 text-primary-1
		em,i
			@apply text-primary-1 text-14 ml-2 font-light relative z-60
			animation: r-t-l 0.4s forwards
	&.btn-download
		&:hover
			span,em,i
				@apply text-primary-1
			em,i
				animation: t-t-b 0.4s forwards
		span
			@apply text-16  font-semibold relative z-20 text-primary-1
		.icon
			@apply w-[32px] h-[32px] min-w-[32px] flex-center border  ml-[8px] rounded-full  border-primary-1 overflow-hidden
		em,i
			@apply text-primary-1 text-14  font-light relative z-60 
			animation: b-t-t 0.4s forwards
	&.btn-tertiary
		@apply pr-1
		span
			@apply text-primary-1 leading-none text-18 transition font-semibold
		em,i
			@apply ml-2 text-14  font-light
		&:hover
			em
				transform: translateX(3px)
$duration: 0.6s
$easing: cubic-bezier(0.76, 0, 0.24, 1)
.rolling-text 
	display: inline-block !important
	$font-size: 16px
	font-size: $font-size
	line-height: $font-size * 2.2 !important
	overflow: hidden
	&:hover,&.play 
		.letter 
			transform: translateY(-100%)
	.letter 
		display: inline-block
		transition: transform $duration $easing
	>div
		@apply whitespace-nowrap
.swiper-nav
	@media screen and ( max-width: 1024px)
		@apply flex-center pt-6 pb-1
	.prev,.next
		@apply flex-center transition   pointer-events-auto   border  rounded-full
		height: 40px
		width: 40px
		@media screen and ( max-width: 1024px)
			@apply mx-3 relative
		@screen lg
			@apply absolute-y  z-30 
		&::before
			@apply flex-center  pointer-events-none  z-50  transition w-fit h-fit leading-none font-light  font-Awesome6 text-20 text-primary-1
			width: 20px
			@screen lg
				@apply text-20
		&:hover
			@apply bg-primary-1 border-primary-1
			&::before
				@apply text-white
		&.swiper-button-disabled
			@apply opacity-50 pointer-events-none
		
	.next
		&::before
			content: "\f054"
	.prev
		&::before
			content: "\f053"
	&.center
		@media screen and ( max-width: 1024px)
			@apply absolute-y  z-30 
			.prev
				@apply left-0
			.next
				@apply right-0
	&.normal
		padding: 0 !important
		margin: 0 !important
		@apply flex-center
		.next,.prev
			left: unset !important
			right: unset !important
			position: relative !important
			transform: none !important
		.prev
			margin-right: 8px
	&.inset
		.next
			right: 0
		.prev
			left: 0
	&.white
		.next,.prev
			@apply border-white
			&::before
				@apply text-white
			&:hover
				@apply bg-white
				&::before
					@apply text-primary-1
	&.grey
		.next,.prev
			&::before
				@apply text-grey-300
	.next
		@screen lg
			right: r(-75px)
		@screen xl
			right: r(-80px)
	.prev
		@screen lg
			left: r(-75px)
		@screen xl
			left: r(-80px)
.custom-swiper-nav
	@apply h-[56px]  
	.hand-ui
		height: r(40px)
		width: r(64px)
	.prev,.next
		height: 24px
		width: 12px
		@apply cursor-pointer
		em
			@apply text-white text-24 transition
		&:hover
			em
				@apply text-primary-2
.swiper-nav-group
	@apply mt-6
	.swiper-pagination
		@apply mx-2 w-fit h-[16px] flex-center
	.swiper-nav
		padding: 0 !important
		margin: 0 !important
		@apply flex-center
		.next,.prev
			@apply mx-1
			left: unset !important
			right: unset !important
			position: relative !important
			transform: none !important
.mobile-pagination
	@apply hidden
	@media screen and ( max-width: 1024px)
		@apply block
.swiper-pagination
	@apply bg-grey-50  rounded-full overflow-hidden p-1  mx-2 w-fit h-[16px] flex-center
	position: static !important
	left: unset !important
	right: unset !important
	bottom: unset !important
	transform: none !important
	margin-top: 0
	.swiper-pagination-bullet 
		@apply  bg-grey-300  transition bg-opacity-100 opacity-100
		&.swiper-pagination-bullet-active
			@apply bg-primary-1 inline-block

.btn-grid
	display: grid 
	grid-template-rows: 0fr
	transition: .2s grid-template-rows ease
	> div
		overflow: hidden
	.btn
		@apply m-[2px]

.wrap-gap,.wrap-center,.wrap-left,.wrap-right,.ajaflex-center-wrap
	a
		&:not(:last-child)
			@apply mr-2