.row 
	@apply flex flex-wrap
	justify-content: flex-start
.col
	flex: 0 0 auto
	@apply flex flex-col
	padding: 0 20px
	.col
		margin-bottom: 0
.row
	@media screen and ( max-width: 1024px)
		margin: 0 -10px -20px -10px
		>.col
			padding: 0 10px
			margin-bottom: 20px
	@screen lg
		margin: 0 -20px -40px -20px
		>.col
			margin-bottom: 40px
.no-gutters
	@apply mx-0
	> *
		@apply px-0
.col-match-height
	@apply flex w-full flex-col h-full
.container, .container-fluid,.container-xxl
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto
.container-xxl
	@media screen and ( min-width: 1200px) and ( max-width: 1400px)
		@apply px-5 !#{important}
	@media screen and ( min-width: 1400px)
		max-width: r(1790px)