
.tab-item
	opacity: 0
	display: block
	transition: opacity .3s ease
	position: relative
	&.active
		opacity: 1
.home-section-wrap
	@apply overflow-hidden
.main-menu-toggle
	@apply hidden
	@media screen and ( max-width:  1024px)
		@apply flex items-center pl-8
	@media screen and ( max-width:  768px)
		@apply pl-4
.frm-thanks
	@apply my-16 p-8 text-center text-24 text-white font-bold
	margin: 0 auto
	width: 500px
	*
		@apply text-24 text-white font-bold
	h3,h4,h5
		@apply text-red font-bold  text-16 mb-3
	p,span
		@apply text-24 text-white font-bold
		*
			@apply text-24 text-white font-bold
	@media screen and ( max-width: 1024px)
		width: 320px

.edit-link
	width: 30px
	height: 30px
	pointer-events: auto
	.fa-pencil
		width: 18px
		height: 18px
		background-size: contain
		background-repeat: no-repeat
		background-position: center
		background-image: url("data:image/svg+xml;charset=utf-8,<svg  viewBox='0 0 18 18'  xmlns='http://www.w3.org/2000/svg'><path d='M6.35473 15.7485L2.27202 11.6658L12.1468 1.79106L16.2295 5.87378L6.35473 15.7485ZM1.89039 12.385L5.63556 16.1302L0.0205078 18L1.89039 12.385ZM17.4852 4.62344L16.7771 5.33159L12.6889 1.24347L13.3971 0.535326C14.1104 -0.178442 15.2672 -0.178442 15.9805 0.535326L17.4852 2.04001C18.1934 2.75572 18.1934 3.90795 17.4852 4.62344Z' fill='#094594'/></svg>")
.custom-select
	@apply relative w-full
	&::after
		content: '\f078'
		font-family: 'Font Awesome 6 Pro'
		@apply block absolute-y pointer-events-none right-[20px] z-10  transition leading-none font-bold text-grey-700 text-base h-5 w-4
		@media screen and ( min-width: 2000px)
			@apply h-4 w-2 text-base right-4
	select
		-webkit-appearance: none
		-moz-appearance: none
		@apply  w-full
		@media screen and ( max-width: 1024px)
			height: 40px
		option
			@apply py-1 px-2
.scrollbar-wrap
	max-height: 300px
	padding-right: 15px
	overflow-y: auto
.scrollbar-wrap::-webkit-scrollbar
	background: #D9D9D9
	width: 4px !important
	border-radius: 4px
.scrollbar-wrap::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 4px #D9D9D9
	background-color: #D9D9D9
	border-radius: 4px
.scrollbar-wrap::-webkit-scrollbar-thumb
	background-color: #F15F4E
	border-radius: 30px !important
	@media screen and ( max-width:1024px)
		height: auto
.scrollbar-wrap.blue::-webkit-scrollbar-thumb
	background-color: #1A3A67
@-moz-document url-prefix()
	.scrollbar-wrap
		scrollbar-width: thin
		scrollbar-color: #F15F4E #D9D9D9
	.scrollbar-wrap.blue
		scrollbar-color: #1A3A67 #D9D9D9

.qradio
	input
		background-repeat: no-repeat
		background-position: center
		appearance: none
		@apply block
		width: 20px
		height: 20px
		background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/></svg>")
		&:checked
			background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ff0000' width='20px' height='20px'><path d='M0 0h24v24H0z' fill='none'/><path d='M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5zm0-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/></svg>")
.table-wrap,.table-res
	@apply overflow-x-auto
	table
		border-spacing: 0 !important
		border-collapse: separate !important
		@apply w-full
		@media screen and ( max-width:1024px)
			white-space: nowrap

.sidenav-group
	@apply fixed  right-2 bottom-[120px]  transition  flex flex-col items-end z-999
	@media screen and ( max-width: 576px)
		@apply  bottom-[90px]
	ul
		@apply flex items-end flex-col
	li
		@apply mb-1
		&:hover
			.wrap
				@apply w-full
				&::after
					@apply opacity-100
			.txt-grid
				grid-template-columns: 1fr
	em,i
		@apply text-primary-1 transition font-light text-xl
		@screen xl
			@apply text-2xl 

	img
		max-width: r(28px)
		filter: brightness(0) invert(1)
	
	.wrap
		@apply flex-center rounded-full cursor-pointer transition shadow-lg bg-gradient-primary relative
		height: r(48px)
		min-height: 40px
		@media screen and ( max-width: 1200px)
			height: 40px
		.icon
			width: r(48px)
			min-width: 40px
			@apply flex-center
			@media screen and ( max-width: 1200px)
				width: 40px
			em
				animation: oscillate-rotation 1.5s infinite ease-in-out text-xl
				transition: all 0.5s
				transition-delay: .5s
				@apply text-white
	.txt-grid
		display: grid 
		grid-template-columns: 0fr
		transition: .4s grid-template-columns ease
		> div
			overflow: hidden
			@apply h-max
			span
				@apply whitespace-nowrap  pr-8 h-full flex justify-start items-center  text-white relative font-bold text-lg
	.contact
		@apply border border-primary-700 bg-primary-600
		&:hover
			@apply bg-white
			em
				@apply text-primary-600
	.group-btn
		@apply flex-between gap-3 h-full  px-4 pr-6  relative
		&::after
			content: ''
			@apply block absolute-y pointer-events-none left-0  z-10  transition w-[1px] h-[16px] bg-white
		em,i
			@apply text-white
.back-to-top
	@apply transition flex-center w-fit
	span
		@apply mx-4
		&::after
			content: ''
			@apply block absolute-y pointer-events-none right-full  z-10  transition w-screen h-[4px] bg-gradient-primary
	.icon
		width: r(48px)
		height: r(48px)
		@apply  transition 
		min-width: 40px
		min-height: 40px
		@media screen and ( max-width: 1200px)
			width: 40px
			height: 40px
		&:hover
			@apply bg-gradient-primary
			em,i
				@apply text-white
	em,i
		@apply text-primary-3 text-base font-light

.txt-grid
	display: grid 
	grid-template-rows: 0fr
	transition: .4s grid-template-rows ease
	> div
		overflow: hidden



.play-icon
	@apply relative
	&::after
		content: ''
		@apply block  pointer-events-none  z-50  transition w-full h-full absolute-center text-primary-900 rounded-full overflow-hidden flex-center
		width: r(80px)
		height: r(80px)
		min-width: r(80px)
		background: url('../img/icon/play.png')
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		@media screen and ( max-width: 1024px)
			width: r(64px)
			height: r(64px)
			min-width: r(64px)
.drop-list
	em,span
		@apply text-white leading-none
	.fa-globe
		@apply hidden
		@screen sm
			@apply inline-block
	em
		@apply text-18
		@screen xl
			@apply text-16 
	span
		@apply text-16 font-normal mr-3
		@screen sm
			@apply mx-3
	&:hover
		.fa-chevron-down
			transform: rotateX(180deg)
		.dropdown
			@apply filter-none pointer-events-auto opacity-100
	.drop-title
		@apply px-5 py-2 overflow-hidden rounded-5 leading-none flex-center h-full border-white  border border-opacity-50
		span
			@media screen  and ( max-width: 768px)
				@apply hidden
		.fa-chevron-down 
			@media screen  and ( max-width: 768px)
				@apply ml-3
	.dropdown
		filter: blur(1px)
		@apply opacity-0 pointer-events-none transition bg-white px-8 py-3 absolute-x top-full  w-max rounded overflow-hidden z-40
		li
			&:not(:last-child)
				@apply mb-2
			&.active
				@apply font-bold
		a
			@apply  font-semibold  flex-start text-left text-18
			
			@screen lg
				@apply text-14
			&:hover
				@apply underline