.popup-modal
	padding: 0
	border-radius: 16px
	@apply w-full overflow-hidden
.carousel__button
	&.is-close
		top: 0 !important
		width: 50px
		height: 50px
		right: 0 !important
		svg
				@apply text-primary-900
.register-modal
	@apply bg-primary-900 !#{important}
	padding: r(40px) r(30px) !important
	max-width: r(900px) !important
	@screen lg
		padding: r(40px) !important
	@media screen and ( min-width: 1360px)
		min-height: 620px
	@media screen and ( min-width: 1600px)
		padding: r(90px)  r(130px)  r(70px)  r(130px) !important
	.modal-wrap
		@apply m-auto w-full bg-primary-900 !#{important}

.recruit-modal
	max-width: r(865px)
	padding:  r(50px) r(32px)  !important


